nav.navbar.navbar-expand-sm.bg-dark.fixed-top.justify-content-center
    ul.navbar-nav
        li.nav-item
            a.nav-link(href='/') Home
        li.nav-item
            a.nav-link(href='/ads') Ads
        li.nav-item
            a.nav-link(href='/register') Register
        li.nav-item
            a.nav-link(href='/login') Login
        li.nav-item
            a.nav-link(href='/logout') Logout
