extends partials/layout

block content
    .container
        h1 Login
        form(method='POST')
            .form-group
                label(for='email') Email:
                input#email.form-control(type='email' placeholder='Enter email' name='email')
            .form-group
                label(for='pwd') Password:
                input#pwd.form-control(type='password' placeholder='Enter password' name='pswd')
            button.btn.btn-primary(type='submit') Login

            hr
            |         Don't have an account?
            br
            a(href='register' title='register') Register

