extends ../partials/layout

block content
    .form-group
        label(for='title') Title:
        input#title.form-control(type='text')
    .form-group
        label(for='price') price:
        input#price.form-control(type='price')
    .form-group
        label(for='description') description:
        textarea#description.form-control(rows='5')


