extends ../partials/layout

block content
    form(method="POST")
        label(for="title") Title:
        input(type="text" id="title" name="title")

        label(for="price") Price:
        input(type="double" id="price" name="price")

        label(for="description") Description:
        input(type="textarea" id="description" name="description")

        input(type="submit" value="Submit")