extends ../partials/layout

block content

    a(href='ads/add' title='add')
        h1 Create an Ad
    table.table.table-hover.table-dark
        thead
            tr
                th(scope='col') Title
                th(scope='col') Price
                th(scope='col') Description
                th(scope='col')
        tbody
            each ad in ads
                tr
                    td #{ad.title}
                    td #{ad.price}
                    td #{ad.description}
                    td
                        a(href='/ads/edit/'+ ad.id) Edit
                        br
                        a.text-danger.delete(href='/ads/delete/'+ ad._id) Delete