extends ../partials/layout

block content

    a(href='ads/add' title='add')
        h1 Create an Ad
    table.table.table-hover.table-dark
        thead
            tr
                th(scope='col') Title
                th(scope='col') Price
                th(scope='col') Description
        tbody
            each ad in ads
                tr
                    td  #{ad.title}
                    td  #{ad.price}
                    td  #{ad.description}

